<a class="pill hover:no-underline hover:opacity-80 p-4 max-h-12 mr-2 last:mr-0 mb-2 min-w-max s2x9qzh rxug45l bg-viridian" href="/find/?source=EVENTS&amp;dateRange=startingSoon&amp;eventType=online"><%= term %></a>
