.curved {
  color: white;
  text-align: center;
}

.curved h1 {
  font-size: 3rem;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0px;
}

.curved p {
  font-size: 1rem;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 3rem 0 3rem;
}

.curved svg {
  display: flex;
}
