.curved {
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.curved h1 {
  font-size: 3rem;
  margin-top: 0px;
}

.curved p {
  font-size: 1rem;
  margin: 0 3rem 0 3rem;
}

.curved svg {
  display: flex;
}
