.outfit {
  font-family: 'Outfit', sans-serif;
}

.text-gray {
  color: #6B7280;
}

.alert {
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.alert-danger {
  background-color: #EF4444;
}

.alert-success {
  background-color: #4ADE80;
}
