@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
  font-family: 'Outfit';
  src: font_url('Outfit-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.outfit {
  font-family: "Outfit-Regular", sans-serif;
}

.text-gray {
  color: #6B7280;
}

.alert {
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.alert-danger {
  background-color: #EF4444;
}

.alert-success {
  background-color: #4ADE80;
}
