.homepage {
  .pill {
    border-radius: 40px;
    line-height: 1;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
  }

  @media (max-width: 768px) {
    .service {
      background: #f6f7f8;
      padding-bottom: 30px;
      border-radius: 8px;
      width: calc(33.3333% - 5px);
    }

    .service:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }
}
