.homepage {
  .pill {
    border-radius: 40px;
    font-size: 14px;
    line-height: 1;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    // background-color: #008294;
    // border-color: #008294;
  }
}
